body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

header {
    grid-column: 1;
    grid-row: 1;
    height: 50px;
    /* background-color: blue; */
}

footer {
    grid-column: 1;
    grid-row: 2;
    height: 50px;
    /* background-color: red; */
}

main {
    /* grid-column: 1;
    grid-row: 1; */
    grid-column-span: 1;
    grid-row-span: 2;
}





