title {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: green;
    margin: 0;
    padding: 0;
}

#form-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    /* ...plus de styles si nécessaire... */
}


.hidden {
    display: none;
}

/* Éventuellement, vous pouvez également styliser les formulaires individuellement, si nécessaire. */
#login-form, #register-form {
    /* ...styles pour les formulaires... */
}